[submodule "BlindBeez-FrontEnd"]
	path = BlindBeez-FrontEnd
	url = https://github.com/francardoso93/BlindBeez-FrontEnd.git
	branch = master
[submodule "BlindBeez-BackEnd"]
	path = BlindBeez-BackEnd
	url = git@github.com:francardoso93/BlindBeez-BackEnd.git
